<div id="about">
  <img class="bg" src="assets/background/red-bg.png" alt="" />
  <section class="about-heading">
    <img src="assets/logo/main-logo.png" alt="" />
    <div>
      <h1>College of Computer and Information Science</h1>
      <p>
        The College of Computer and Information Science (CCIS) designed its
        curricula to produce IT professionals who embody creative, technical,
        and analytical faculties and shall utilize the same for nation-building.
        CCIS provides a holistic hands-on-training through a balance of arts and
        science and technology and at the same time guides the students in their
        quest for modern and humane society.
      </p>
    </div>
  </section>
  <section class="about-content">
    <div class="mmcm-vmg">
      <h1 class="mmcm">MMCM</h1>
      <div class="vmg">
        <div>
          <div class="vm">
            <h2 class="vmg-heading">Vision</h2>
            <p class="vmg-text">
              Mapúa Malayan Colleges Mindanao stands among the world's leading
              educational institutions.
            </p>
            <h2 class="vmg-heading">Motto</h2>
            <p class="vmg-text motto">Excellence and Relevance</p>
          </div>
        </div>
        <div class="vm">
          <h2 class="vmg-heading">Mission</h2>
          <p class="vmg-text">
            <span>1. </span>The institute shall provide a learning environment
            in order for its students to acquire the attributes that will make
            them globally competitive & locally in-demand.
          </p>
          <p class="vmg-text">
            <span>2. </span>The institute shall engage in cutting edge and
            economically viable research, development and innovation that is
            relevant locally and beyond.
          </p>
          <p class="vmg-text">
            <span>3. </span>The institute shall provide state-of-the-art
            solutions to problems of industries and communities locally and
            beyond.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-content ccis">
    <div class="mmcm-vmg">
      <h1 class="mmcm">CCIS</h1>
      <div class="vmg">
        <div>
          <div class="vm">
            <h2 class="vmg-heading">Vision</h2>
            <p class="vmg-text">
              The College of Computer and Information Science (CCIS) of Mapua
              MCM will pioneer new approaches to learning and discovery,
              igniting a passion for knowledge and equipping students with the
              skills to flourish in our dynamic world.
            </p>
            <h2 class="vmg-heading">Goals</h2>
            <p class="vmg-text">
              The College of Computer and Information Science (CCIS) aims to
              integrate/introduce new ideas and approaches through flexible
              learning to enhance student learning experience, acquire the
              latest tools and technology to boost student skills and creativity
              responsive to the needs of the industry, and leverage
              international linkages and partnerships to stand among the
              globally competitive professionals.
            </p>
          </div>
        </div>
        <div class="vm">
          <h2 class="vmg-heading">Mission</h2>
          <p class="vmg-text">
            The College of Computer and Information Science (CCIS) commits
            itself to the threefold mission in:
          </p>
          <p class="vmg-text">
            <span>1. </span>Promoting a culture of innovation to enhance student
            learning experience.
          </p>
          <p class="vmg-text">
            <span>2. </span>Enabling student knowledge, skill and character
            development that addresses the 21st century challenges; and
          </p>
          <p class="vmg-text">
            <span>3. </span>Providing globalized learning while ensuring
            continuous improvement and measurement.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
