@import "commons/utils";
@import "commons/configure";

#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer-upper,
  .footer-lower {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-upper {
    background-color: #737373;
    padding: $spacing-md;

    div {
      max-width: torem(1080);
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: torem(260);
      p {
        color: #fff;
        font-size: $small-2;
      }

      img {
        height: torem(150);

        transition: all 0.3s ease;
      }

      img:hover {
        cursor: pointer;
        transform: scale(1.05);
      }

      .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: auto;
        margin: 0;
        gap: $spacing-md;

        .footer-separator {
          width: 100%;
          height: torem(1);
          background-color: #fff;
        }
      }
    }
  }
  .footer-lower {
    background-color: #000;
    padding: $spacing-xs-2;

    div {
      p {
        text-align: center;
        color: #fff;
        font-size: $small-2;
      }
    }
  }
}
